<nav class='bg-gray-900 z-50 fixed w-full md:sticky top-0 md:border-b border-gray-700'>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='flex items-center justify-between h-16'>
      <div class='flex items-center'>
        <div class=''>
          <div class='flex space-x-4'>
            <a
              href=''
              class='text-gray-300 rounded-md text-sm font-medium'
            >
            {{>subpartials/logo}}
            </a>
            
          </div>
        </div>
      </div>
      <div class='flex items-right'>
        <div class='hidden md:block'>
          <div class="flex md:divide-x-2 md:divide-gray-700 space-x-4">
            <div class='ml-10 flex space-x-4'>
              <a
                href='#about'
                class='text-gray-300 hover:text-blue-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
              >
              {{i18n "nav_AboutMe"}}
              </a>
              
              <a
                href='#experience'
                class='text-gray-300 hover:text-blue-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
              >
               {{i18n "nav_Experience"}}
              </a>

              <a
                href='#portfolio'
                class='text-gray-300 hover:text-blue-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
              >
               {{i18n "nav_Portfolio"}}
              </a>

              <a
                href='#contact'
                class='text-gray-300 hover:text-blue-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium'
              >
              {{i18n "nav_Contact"}}
              </a> 
              <a
                href='/docs/kalanin_cv.pdf'
                target="blank"
                class='text-blue-300 hover:bg-gray-800 px-3 py-2 border border-blue-300 rounded-md text-sm font-medium'
              >
              {{i18n "nav_Resume"}}
              </a>
            </div>
              
            <div class="pl-4 flex space-x-4">
              <a class="rounded-md text-sm font-medium inline" href="?lang=sk">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#eceff1" d="M24,4C15.421,4,8.125,9.412,5.284,17h37.431C39.875,9.412,32.579,4,24,4z"></path><path fill="#1976d2" d="M44,24c0-2.467-0.468-4.818-1.284-7H5.284C4.468,19.182,4,21.533,4,24s0.468,4.818,1.284,7h37.431	C43.532,28.818,44,26.467,44,24z"></path><path fill="#ff3d00" d="M42.716,31H5.284C8.125,38.588,15.421,44,24,44S39.875,38.588,42.716,31z"></path><path fill="#ff3d00" d="M15.085,31.108c-2.424-1.131-6.029-2.365-6.084-6.927c-0.055-4.562-0.084-6.999-0.084-6.999	l11.999-0.145c0,0,0.03,2.484,0.084,6.999C21.055,28.598,17.481,29.919,15.085,31.108"></path><path fill="#eceff1" d="M7.905,16.194c0,0,0.037,3.027,0.097,7.999c0.06,4.976,4.249,6.684,7.096,7.915	C17.914,30.808,22.06,29,22,24.024c-0.06-4.972-0.097-7.999-0.097-7.999L7.905,16.194z M21,24.036	c0.055,4.562-3.519,5.883-5.915,7.072c-2.424-1.131-6.029-2.365-6.084-6.927c-0.055-4.562-0.084-6.999-0.084-6.999l11.999-0.145	C20.916,17.037,20.946,19.521,21,24.036z"></path><path fill="#fff" d="M15.573,23.59c0.731,0.003,2.153,0.013,3.417-0.424c0,0-0.026,0.453-0.019,0.981	s0.043,0.98,0.043,0.98c-1.169-0.373-2.606-0.363-3.426-0.345l0.034,2.82l-1.152,0.014l-0.034-2.816	c-0.824-0.002-2.262,0.023-3.421,0.428c0,0,0.026-0.453,0.019-0.985c-0.006-0.527-0.043-0.98-0.043-0.98	c1.275,0.41,2.7,0.366,3.43,0.341l-0.021-1.769c-0.668,0.004-1.341-0.081-2.422,0.295c0,0-0.005-0.453-0.012-0.98	c-0.006-0.531-0.012-0.984-0.012-0.984c1.086,0.35,1.764,0.498,2.428,0.486c-0.049-1.124-0.394-2.531-0.394-2.531	s0.676,0.043,0.942,0.039c0.266-0.003,0.941-0.062,0.941-0.062s-0.311,1.414-0.333,2.535c0.668-0.004,1.338-0.153,2.416-0.525	c0,0-0.026,0.453-0.019,0.981c0.006,0.531,0.043,0.984,0.043,0.984c-1.086-0.35-1.761-0.264-2.425-0.252L15.573,23.59z"></path><path fill="#1976d2" d="M16.873,27.735c0,0-0.657-1.641-1.848-1.626c-1.187,0.014-1.808,1.67-1.808,1.67	s-0.361-0.777-1.334-0.765c-0.598,0.007-1.219,0.632-1.522,1.128c1.284,1.547,3.294,2.3,4.724,2.967	c1.414-0.701,3.346-1.431,4.593-3.009c-0.315-0.488-0.893-1.169-1.491-1.162C17.219,26.949,16.873,27.735,16.873,27.735z"></path></svg>
              </a>

              <a class="rounded-md text-sm font-medium inline" href="?lang=en">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#3f51b5" d="M30,5V4.918C28.106,4.323,26.091,4,24,4C12.954,4,4,12.954,4,24c0,0.675,0.036,1.342,0.101,2H30V5z"></path><path fill="none" d="M30.223,5C30.147,4.975,30.076,4.942,30,4.918V5H30.223z"></path><path fill="#eceff1" d="M30,11h9.18c-0.957-1.116-2.038-2.117-3.217-3H30V11z"></path><path fill="#eceff1" d="M43.899,26H30H4.101c0.102,1.028,0.303,2.024,0.555,3h38.689C43.596,28.024,43.797,27.028,43.899,26z"></path><path fill="#eceff1" d="M38.271,38H9.729c1.127,1.149,2.398,2.149,3.773,3h20.996C35.873,40.149,37.144,39.149,38.271,38z"></path><path fill="#eceff1" d="M42.325,32H5.675c0.459,1.05,1.005,2.053,1.63,3h33.39C41.32,34.053,41.865,33.05,42.325,32z"></path><path fill="#eceff1" d="M30,17h12.716c-0.391-1.044-0.861-2.047-1.413-3H30V17z"></path><path fill="#eceff1" d="M30,23h13.95c-0.051-1.02-0.153-2.026-0.351-3H30V23z"></path><path fill="#f44336" d="M30,8h5.964c-1.723-1.29-3.651-2.316-5.741-3H30V8z"></path><path fill="#f44336" d="M30,14h11.303c-0.617-1.066-1.326-2.07-2.122-3H30V14z"></path><path fill="#f44336" d="M30,20h13.598c-0.21-1.034-0.52-2.03-0.883-3H30V20z"></path><path fill="#f44336" d="M30,26h13.899C43.964,25.342,44,24.675,44,24c0-0.338-0.034-0.667-0.05-1H30V26z"></path><path fill="#f44336" d="M43.344,29H4.656c0.266,1.033,0.599,2.039,1.02,3h36.649C42.745,31.039,43.078,30.033,43.344,29z"></path><path fill="#f44336" d="M40.695,35H7.305c0.711,1.078,1.523,2.082,2.424,3h28.543C39.172,37.082,39.984,36.078,40.695,35z"></path><path fill="#f44336" d="M13.502,41c3.054,1.89,6.642,3,10.498,3s7.444-1.11,10.498-3H13.502z"></path><path fill="#fff" d="M10.25,13l0.465,0.988l1.035,0.156L11,14.914L11.18,16l-0.93-0.512L9.32,16l0.18-1.086l-0.75-0.77	l1.035-0.156L10.25,13z"></path><path fill="#fff" d="M14.25,13l0.465,0.988l1.035,0.156L15,14.914L15.18,16l-0.93-0.512L13.32,16l0.18-1.086l-0.75-0.77	l1.035-0.156L14.25,13z"></path><path fill="#fff" d="M6.25,15.488L7.18,16L7,14.914l0.75-0.77l-1.035-0.156l-0.004-0.01	c-0.33,0.568-0.633,1.153-0.907,1.755L6.25,15.488z"></path><path fill="#fff" d="M18.25,13l0.465,0.988l1.035,0.156L19,14.914L19.18,16l-0.93-0.512L17.32,16l0.18-1.086l-0.75-0.77	l1.035-0.156L18.25,13z"></path><path fill="#fff" d="M22.25,13l0.465,0.988l1.035,0.156L23,14.914L23.18,16l-0.93-0.512L21.32,16l0.18-1.086l-0.75-0.77	l1.035-0.156L22.25,13z"></path><path fill="#fff" d="M26,13l0.465,0.988l1.035,0.156l-0.75,0.77L26.93,16L26,15.488L25.07,16l0.18-1.086l-0.75-0.77	l1.035-0.156L26,13z"></path><path fill="#fff" d="M10.25,21l0.465,0.988l1.035,0.156L11,22.914L11.18,24l-0.93-0.512L9.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L10.25,21z"></path><path fill="#fff" d="M14.25,21l0.465,0.988l1.035,0.156L15,22.914L15.18,24l-0.93-0.512L13.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L14.25,21z"></path><path fill="#fff" d="M18.25,21l0.465,0.988l1.035,0.156L19,22.914L19.18,24l-0.93-0.512L17.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L18.25,21z"></path><path fill="#fff" d="M6.25,21l0.465,0.988l1.035,0.156L7,22.914L7.18,24l-0.93-0.512L5.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L6.25,21z"></path><path fill="#fff" d="M22.25,21l0.465,0.988l1.035,0.156L23,22.914L23.18,24l-0.93-0.512L21.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L22.25,21z"></path><path fill="#fff" d="M26,21l0.465,0.988l1.035,0.156l-0.75,0.77L26.93,24L26,23.488L25.07,24l0.18-1.086l-0.75-0.77	l1.035-0.156L26,21z"></path><path fill="#fff" d="M11.25,17l0.465,0.988l1.035,0.156L12,18.914L12.18,20l-0.93-0.512L10.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L11.25,17z"></path><path fill="#fff" d="M15.25,17l0.465,0.988l1.035,0.156L16,18.914L16.18,20l-0.93-0.512L14.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L15.25,17z"></path><path fill="#fff" d="M7.25,17l0.465,0.988l1.035,0.156L8,18.914L8.18,20l-0.93-0.512L6.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L7.25,17z"></path><path fill="#fff" d="M19.25,17l0.465,0.988l1.035,0.156L20,18.914L20.18,20l-0.93-0.512L18.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L19.25,17z"></path><path fill="#fff" d="M23.25,17l0.465,0.988l1.035,0.156L24,18.914L24.18,20l-0.93-0.512L22.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L23.25,17z"></path><path fill="#fff" d="M27,17l0.465,0.988l1.035,0.156l-0.75,0.77L27.93,20L27,19.488L26.07,20l0.18-1.086l-0.75-0.77	l1.035-0.156L27,17z"></path><path fill="#fff" d="M11.25,9l0.465,0.988l1.035,0.156L12,10.914L12.18,12l-0.93-0.512L10.32,12l0.18-1.086l-0.75-0.77	l1.035-0.156L11.25,9z"></path><path fill="#fff" d="M15.25,9l0.465,0.988l1.035,0.156L16,10.914L16.18,12l-0.93-0.512L14.32,12l0.18-1.086l-0.75-0.77	l1.035-0.156L15.25,9z"></path><path fill="#fff" d="M19.25,9l0.465,0.988l1.035,0.156L20,10.914L20.18,12l-0.93-0.512L18.32,12l0.18-1.086l-0.75-0.77	l1.035-0.156L19.25,9z"></path><path fill="#fff" d="M23.25,9l0.465,0.988l1.035,0.156L24,10.914L24.18,12l-0.93-0.512L22.32,12l0.18-1.086l-0.75-0.77	l1.035-0.156L23.25,9z"></path><path fill="#fff" d="M27,9l0.465,0.988l1.035,0.156l-0.75,0.77L27.93,12L27,11.488L26.07,12l0.18-1.086l-0.75-0.77	l1.035-0.156L27,9z"></path><path fill="#fff" d="M15.18,8L15,6.914l0.75-0.77l-0.551-0.083c-0.589,0.289-1.16,0.606-1.715,0.95L13.32,8l0.93-0.512	L15.18,8z"></path><path fill="#fff" d="M18.25,5l0.465,0.988l1.035,0.156L19,6.914L19.18,8l-0.93-0.512L17.32,8l0.18-1.086l-0.75-0.77	l1.035-0.156L18.25,5z"></path><path fill="#fff" d="M22.25,5l0.465,0.988l1.035,0.156L23,6.914L23.18,8l-0.93-0.512L21.32,8l0.18-1.086l-0.75-0.77	l1.035-0.156L22.25,5z"></path><path fill="#fff" d="M26,5l0.465,0.988L27.5,6.145l-0.75,0.77L26.93,8L26,7.488L25.07,8l0.18-1.086l-0.75-0.77	l1.035-0.156L26,5z"></path></svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class='-mr-2 flex md:hidden flex item-center'>
        <div class="pr-4 flex space-x-4">
          <a class="rounded-md text-sm font-medium inline-flex items-center" href="?lang=sk">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#eceff1" d="M24,4C15.421,4,8.125,9.412,5.284,17h37.431C39.875,9.412,32.579,4,24,4z"></path><path fill="#1976d2" d="M44,24c0-2.467-0.468-4.818-1.284-7H5.284C4.468,19.182,4,21.533,4,24s0.468,4.818,1.284,7h37.431	C43.532,28.818,44,26.467,44,24z"></path><path fill="#ff3d00" d="M42.716,31H5.284C8.125,38.588,15.421,44,24,44S39.875,38.588,42.716,31z"></path><path fill="#ff3d00" d="M15.085,31.108c-2.424-1.131-6.029-2.365-6.084-6.927c-0.055-4.562-0.084-6.999-0.084-6.999	l11.999-0.145c0,0,0.03,2.484,0.084,6.999C21.055,28.598,17.481,29.919,15.085,31.108"></path><path fill="#eceff1" d="M7.905,16.194c0,0,0.037,3.027,0.097,7.999c0.06,4.976,4.249,6.684,7.096,7.915	C17.914,30.808,22.06,29,22,24.024c-0.06-4.972-0.097-7.999-0.097-7.999L7.905,16.194z M21,24.036	c0.055,4.562-3.519,5.883-5.915,7.072c-2.424-1.131-6.029-2.365-6.084-6.927c-0.055-4.562-0.084-6.999-0.084-6.999l11.999-0.145	C20.916,17.037,20.946,19.521,21,24.036z"></path><path fill="#fff" d="M15.573,23.59c0.731,0.003,2.153,0.013,3.417-0.424c0,0-0.026,0.453-0.019,0.981	s0.043,0.98,0.043,0.98c-1.169-0.373-2.606-0.363-3.426-0.345l0.034,2.82l-1.152,0.014l-0.034-2.816	c-0.824-0.002-2.262,0.023-3.421,0.428c0,0,0.026-0.453,0.019-0.985c-0.006-0.527-0.043-0.98-0.043-0.98	c1.275,0.41,2.7,0.366,3.43,0.341l-0.021-1.769c-0.668,0.004-1.341-0.081-2.422,0.295c0,0-0.005-0.453-0.012-0.98	c-0.006-0.531-0.012-0.984-0.012-0.984c1.086,0.35,1.764,0.498,2.428,0.486c-0.049-1.124-0.394-2.531-0.394-2.531	s0.676,0.043,0.942,0.039c0.266-0.003,0.941-0.062,0.941-0.062s-0.311,1.414-0.333,2.535c0.668-0.004,1.338-0.153,2.416-0.525	c0,0-0.026,0.453-0.019,0.981c0.006,0.531,0.043,0.984,0.043,0.984c-1.086-0.35-1.761-0.264-2.425-0.252L15.573,23.59z"></path><path fill="#1976d2" d="M16.873,27.735c0,0-0.657-1.641-1.848-1.626c-1.187,0.014-1.808,1.67-1.808,1.67	s-0.361-0.777-1.334-0.765c-0.598,0.007-1.219,0.632-1.522,1.128c1.284,1.547,3.294,2.3,4.724,2.967	c1.414-0.701,3.346-1.431,4.593-3.009c-0.315-0.488-0.893-1.169-1.491-1.162C17.219,26.949,16.873,27.735,16.873,27.735z"></path></svg>
          </a>

          <a class="rounded-md text-sm font-medium inline-flex items-center" href="?lang=en">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><path fill="#3f51b5" d="M30,5V4.918C28.106,4.323,26.091,4,24,4C12.954,4,4,12.954,4,24c0,0.675,0.036,1.342,0.101,2H30V5z"></path><path fill="none" d="M30.223,5C30.147,4.975,30.076,4.942,30,4.918V5H30.223z"></path><path fill="#eceff1" d="M30,11h9.18c-0.957-1.116-2.038-2.117-3.217-3H30V11z"></path><path fill="#eceff1" d="M43.899,26H30H4.101c0.102,1.028,0.303,2.024,0.555,3h38.689C43.596,28.024,43.797,27.028,43.899,26z"></path><path fill="#eceff1" d="M38.271,38H9.729c1.127,1.149,2.398,2.149,3.773,3h20.996C35.873,40.149,37.144,39.149,38.271,38z"></path><path fill="#eceff1" d="M42.325,32H5.675c0.459,1.05,1.005,2.053,1.63,3h33.39C41.32,34.053,41.865,33.05,42.325,32z"></path><path fill="#eceff1" d="M30,17h12.716c-0.391-1.044-0.861-2.047-1.413-3H30V17z"></path><path fill="#eceff1" d="M30,23h13.95c-0.051-1.02-0.153-2.026-0.351-3H30V23z"></path><path fill="#f44336" d="M30,8h5.964c-1.723-1.29-3.651-2.316-5.741-3H30V8z"></path><path fill="#f44336" d="M30,14h11.303c-0.617-1.066-1.326-2.07-2.122-3H30V14z"></path><path fill="#f44336" d="M30,20h13.598c-0.21-1.034-0.52-2.03-0.883-3H30V20z"></path><path fill="#f44336" d="M30,26h13.899C43.964,25.342,44,24.675,44,24c0-0.338-0.034-0.667-0.05-1H30V26z"></path><path fill="#f44336" d="M43.344,29H4.656c0.266,1.033,0.599,2.039,1.02,3h36.649C42.745,31.039,43.078,30.033,43.344,29z"></path><path fill="#f44336" d="M40.695,35H7.305c0.711,1.078,1.523,2.082,2.424,3h28.543C39.172,37.082,39.984,36.078,40.695,35z"></path><path fill="#f44336" d="M13.502,41c3.054,1.89,6.642,3,10.498,3s7.444-1.11,10.498-3H13.502z"></path><path fill="#fff" d="M10.25,13l0.465,0.988l1.035,0.156L11,14.914L11.18,16l-0.93-0.512L9.32,16l0.18-1.086l-0.75-0.77	l1.035-0.156L10.25,13z"></path><path fill="#fff" d="M14.25,13l0.465,0.988l1.035,0.156L15,14.914L15.18,16l-0.93-0.512L13.32,16l0.18-1.086l-0.75-0.77	l1.035-0.156L14.25,13z"></path><path fill="#fff" d="M6.25,15.488L7.18,16L7,14.914l0.75-0.77l-1.035-0.156l-0.004-0.01	c-0.33,0.568-0.633,1.153-0.907,1.755L6.25,15.488z"></path><path fill="#fff" d="M18.25,13l0.465,0.988l1.035,0.156L19,14.914L19.18,16l-0.93-0.512L17.32,16l0.18-1.086l-0.75-0.77	l1.035-0.156L18.25,13z"></path><path fill="#fff" d="M22.25,13l0.465,0.988l1.035,0.156L23,14.914L23.18,16l-0.93-0.512L21.32,16l0.18-1.086l-0.75-0.77	l1.035-0.156L22.25,13z"></path><path fill="#fff" d="M26,13l0.465,0.988l1.035,0.156l-0.75,0.77L26.93,16L26,15.488L25.07,16l0.18-1.086l-0.75-0.77	l1.035-0.156L26,13z"></path><path fill="#fff" d="M10.25,21l0.465,0.988l1.035,0.156L11,22.914L11.18,24l-0.93-0.512L9.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L10.25,21z"></path><path fill="#fff" d="M14.25,21l0.465,0.988l1.035,0.156L15,22.914L15.18,24l-0.93-0.512L13.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L14.25,21z"></path><path fill="#fff" d="M18.25,21l0.465,0.988l1.035,0.156L19,22.914L19.18,24l-0.93-0.512L17.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L18.25,21z"></path><path fill="#fff" d="M6.25,21l0.465,0.988l1.035,0.156L7,22.914L7.18,24l-0.93-0.512L5.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L6.25,21z"></path><path fill="#fff" d="M22.25,21l0.465,0.988l1.035,0.156L23,22.914L23.18,24l-0.93-0.512L21.32,24l0.18-1.086l-0.75-0.77	l1.035-0.156L22.25,21z"></path><path fill="#fff" d="M26,21l0.465,0.988l1.035,0.156l-0.75,0.77L26.93,24L26,23.488L25.07,24l0.18-1.086l-0.75-0.77	l1.035-0.156L26,21z"></path><path fill="#fff" d="M11.25,17l0.465,0.988l1.035,0.156L12,18.914L12.18,20l-0.93-0.512L10.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L11.25,17z"></path><path fill="#fff" d="M15.25,17l0.465,0.988l1.035,0.156L16,18.914L16.18,20l-0.93-0.512L14.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L15.25,17z"></path><path fill="#fff" d="M7.25,17l0.465,0.988l1.035,0.156L8,18.914L8.18,20l-0.93-0.512L6.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L7.25,17z"></path><path fill="#fff" d="M19.25,17l0.465,0.988l1.035,0.156L20,18.914L20.18,20l-0.93-0.512L18.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L19.25,17z"></path><path fill="#fff" d="M23.25,17l0.465,0.988l1.035,0.156L24,18.914L24.18,20l-0.93-0.512L22.32,20l0.18-1.086l-0.75-0.77	l1.035-0.156L23.25,17z"></path><path fill="#fff" d="M27,17l0.465,0.988l1.035,0.156l-0.75,0.77L27.93,20L27,19.488L26.07,20l0.18-1.086l-0.75-0.77	l1.035-0.156L27,17z"></path><path fill="#fff" d="M11.25,9l0.465,0.988l1.035,0.156L12,10.914L12.18,12l-0.93-0.512L10.32,12l0.18-1.086l-0.75-0.77	l1.035-0.156L11.25,9z"></path><path fill="#fff" d="M15.25,9l0.465,0.988l1.035,0.156L16,10.914L16.18,12l-0.93-0.512L14.32,12l0.18-1.086l-0.75-0.77	l1.035-0.156L15.25,9z"></path><path fill="#fff" d="M19.25,9l0.465,0.988l1.035,0.156L20,10.914L20.18,12l-0.93-0.512L18.32,12l0.18-1.086l-0.75-0.77	l1.035-0.156L19.25,9z"></path><path fill="#fff" d="M23.25,9l0.465,0.988l1.035,0.156L24,10.914L24.18,12l-0.93-0.512L22.32,12l0.18-1.086l-0.75-0.77	l1.035-0.156L23.25,9z"></path><path fill="#fff" d="M27,9l0.465,0.988l1.035,0.156l-0.75,0.77L27.93,12L27,11.488L26.07,12l0.18-1.086l-0.75-0.77	l1.035-0.156L27,9z"></path><path fill="#fff" d="M15.18,8L15,6.914l0.75-0.77l-0.551-0.083c-0.589,0.289-1.16,0.606-1.715,0.95L13.32,8l0.93-0.512	L15.18,8z"></path><path fill="#fff" d="M18.25,5l0.465,0.988l1.035,0.156L19,6.914L19.18,8l-0.93-0.512L17.32,8l0.18-1.086l-0.75-0.77	l1.035-0.156L18.25,5z"></path><path fill="#fff" d="M22.25,5l0.465,0.988l1.035,0.156L23,6.914L23.18,8l-0.93-0.512L21.32,8l0.18-1.086l-0.75-0.77	l1.035-0.156L22.25,5z"></path><path fill="#fff" d="M26,5l0.465,0.988L27.5,6.145l-0.75,0.77L26.93,8L26,7.488L25.07,8l0.18-1.086l-0.75-0.77	l1.035-0.156L26,5z"></path></svg>
          </a>
        </div>
        <!-- Mobile menu button -->
        <button
          type='button'
          id="mobile-menu-button"
          class='bg-gray-800 inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white'
          aria-controls='mobile-menu'
          aria-expanded='false'
        >
          <span class='sr-only'>Open main menu</span>
          <!--
              Heroicon name: outline/menu

              Menu open: "hidden", Menu closed: "block"
            -->
          <svg
            class='block h-6 w-6'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            aria-hidden='true'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M4 6h16M4 12h16M4 18h16'
            ></path>
          </svg>
          <!--
              Heroicon name: outline/x

              Menu open: "block", Menu closed: "hidden"
            -->
          <svg
            class='hidden h-6 w-6'
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke='currentColor'
            aria-hidden='true'
          >
            <path
              stroke-linecap='round'
              stroke-linejoin='round'
              stroke-width='2'
              d='M6 18L18 6M6 6l12 12'
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div class='hidden md:hidden right-0 w-2/3 bg-gray-800 ml-24' id='mobile-menu'>
    <div class='px-2 pt-6 pb-6 space-y-6 sm:px-3'>
      <a
        href='#about'
        onclick="closeNavbar()"
        class='text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center'
      >
     {{i18n "nav_AboutMe"}}
      </a>

      <a
        href='#experience'
        class='text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center'
      >
      {{i18n "nav_Experience"}}
      </a>

      <a
        href='#portfolio'
        class='text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center'
      >
      {{i18n "nav_Portfolio"}}
      </a>

      <a
        href='#contact'
        class='text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium text-center'
      >
      {{i18n "nav_Contact"}}
      </a>

      <a
        href='/docs/kalanin_cv.pdf'
        target="blank"
        class='text-blue-300 hover:bg-gray-800 px-3 py-2 border border-blue-300 rounded-md text-sm font-medium block text-center'
      >
      {{i18n "nav_Resume"}}
      </a>
    </div>
  </div>
</nav>